MONGODB_URI=mongodb://root:example@localhost:27017
MONGODB_DB_NAME=gatil-irma-francisca

### CREDENCIAIS DE TESTE

MP_PUBLIC_KEY_TEST=
MP_ACCESS_TOKEN_TEST=

### CREDENCIAIS DE PRODUÇÃO

#
#

FRONTEND_URL=
MP_WEBHOOK_SECRET=